@{
    var BASE_PATH = Url.Content("~/");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>@ViewData["Title"] - Fhirata.AspNetCore</title>

    <script>
        var EXT_BASE_PATH = "@BASE_PATH";
    </script>

    <script src="~/lib/ace/ace.js"></script>
    <script src="~/lib/ace/ext-beautify.js"></script>
    <script src="~/lib/ace/mode-json.js"></script>
    <script src="~/lib/ace/mode-json5.js"></script>
    <script src="~/lib/ace/mode-html.js"></script>
    <script src="~/lib/ace/theme-chrome.js"></script>

    <script src="~/lib/font-awesome/js/all.js"></script>
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />

    <environment include="Development">
    </environment>
    <environment include="Production">
    </environment>
    @RenderSection("scripts", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>